<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <ul>
      {% for item in site.data.publications.index %}
        <li><a href="{{ item.url }}" style="text-decoration: none;color: rgb(42, 122, 226) !important; font-weight: bold;">{{ item.title }}</a></br>
          <span style="color: rgb(42, 122, 226); font-size: 12px;">{{item.authors}}</span></br>
          <span style="font-style: italic; font-size: 12px;"> {{item.venue}} {{item.year}}</span></br>
          <span style="color: rgb(226, 88, 42); font-style: italic; font-size: 12px;"> {{item.notes}}</span></br>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
