---
layout: default
---
<object data="{{ site.url }}/_pdf/Resume_Gowtham.pdf" width="1000" height="1000" type="application/pdf"></object>

<!-- {{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Professional Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.professional-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Awards and Fellowships</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.awards_and_fellowships %}
          <p> <strong>{{ section.title }}</strong> {{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research Forums and Presentations</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.research_forums %}
          <p><strong>{{ section.title }}</strong> {{ section.description }}</p>
          <p></p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research Services</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.research_services %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Teaching and Mentoring</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.teaching %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div> -->
